# Ключ приложения Джанго
SECRET_KEY=

DEBUG=

# Настройка БД
DB_NAME=
DB_USER=
DB_PASSWORD=
HOST=
PORT=

TELEGRAM_BOT_TOKEN=

# Настройка Celery
REDIS_HOST
REDIS_PORT
REDIS_DB

# Настройка часового пояса (Чтобы просто менять)
TIME_ZONE=

